<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div class="container">
        <h1 class="heading">Pantalla de Inicio</h1>
        <div id="user-email"></div>
        <p></p>
        <button id="logout-btn" class="btn">Logout</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.9.0/firebase-auth-compat.js"></script>
    <script type="module" src="../controller/home.js"></script>
</body>

</html>